@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

// Variables
@import "variables";


.adminbar {
  a.navbar-brand {
    font-size: 1rem;
    padding: .05rem;
  }
  a.nav-link {
    padding-top: .1rem;
    padding-bottom: .1rem;
  }
  padding: .3rem;
}