@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

// Variables
@import "variables";

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

.adminbar {
  a.navbar-brand {
    font-size: 1rem;
    padding: .05rem;
  }
  a.nav-link {
    padding-top: .1rem;
    padding-bottom: .1rem;
  }
  padding: .3rem;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}

.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.6;
}

.marker-value-very-low {
  background-color: #79bc6a;
}

.marker-value-low {
  background-color: #bbcf4c;
}

.marker-value-medium{
  background-color: #eec20b;
}

.marker-value-high{
  background-color: #f29305;
}

.marker-value-very-high {
  background-color: #e8416f;
}